body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: 0 0 0 0;
}

h2, h3, h4 {
	margin: 0;
	padding: 10px;
}

a, 
a:hover,
a:visited {
	color: seashell;
	text-decoration: underline;
}

header {
	height: 69px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid seashell;
	position: fixed;
	z-index: 1;
}

header .logo img {
	height: 50px;
	margin-left: 10px;
}

.logo {
	height: 50px;
}

header nav {
	padding-right: 10px;
	display: inline-block;
}

nav span {
	padding: 20px 10px;
}

.main-contnet {
	width: 100%;
	padding-top: 69px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mission {
	height: 700px;
	width: 1200px;
	padding-top: 70px;
	background-image: url(../images/img-mission-background.jpg);
	display: flex;
	align-items: center;
}

.mission-text {
	width: 100%;
	background-color: black;
	text-align: center;
}

.featured-teas {
	height: 700px;
	width: 1000px;
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teas {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tea {
	padding: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.tea img {
	height: 200px;
	width: 300px;
	margin: 10px;
}

.locations {
	height: 500px;
	width: 1200px;
	padding-top: 70px;
	background-image: url(../images/img-locations-background.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.individual-locations {
	padding-top: 5px;
	display: flex;
}

.location {
	width: 280px;
	background-color: black;
	padding: 10px;
	margin: 5px 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	opacity: 1;
}

footer .contact-info {
	height: 200px;	
	text-align: center;
}

footer .copyright {
	margin-left: 20px;
}